.d-flex.align-items-center
  %h1 DELI Database
  .ml-auto.articles__linkBox
    = form_with url: articles_path, method: :get, class: 'articles__searchForm' do
      = select_tag :prefecture_id, options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]), {prompt: 'ジャンル', class: 'form-control form-control articles__select', onchange: 'submit(this.form)'}
      = select_tag :prefecture_id, options_from_collection_for_select(Prefecture.all, :id, :name, params[:prefecture_id]), {prompt: '地域', class: 'form-control form-control articles__select', onchange: 'submit(this.form)'}
      = text_field_tag :free_word, params[:free_word], {class: 'form-control articles__text', onBlur: 'submit(this.form)'}
= render partial: "shared/flash_messages"
%table.table.table-hover.articles__table
  %thead.thead-dark
    %tr
      %th.article__title title
      %th.article__btn
      %th.article__btn
  %tbody
    - @articles.each do |article|
      %tr
        %td.article__title
          = article.title
        %td.article__btn
          = link_to '詳細', article, class: 'btn btn-outline-info'
        %td.article__btn
          = link_to '削除', article, class: 'btn btn-outline-dark', method: :delete, data: {confirm: "#{article.title}削除しますか?"}
= paginate @articles
