.d-flex.align-items-center
  %h1 DELI Database
  .ml-auto.articles__linkBox
    = form_with url: articles_path, method: :get, class: 'articles__searchForm' do
      = select_tag :prefecture_id, options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]), {prompt: 'ジャンル', class: 'form-control form-control articles__select', onchange: 'submit(this.form)'}
      = select_tag :prefecture_id, options_from_collection_for_select(Prefecture.all, :id, :name, params[:prefecture_id]), {prompt: '地域', class: 'form-control form-control articles__select', onchange: 'submit(this.form)'}
      = text_field_tag :free_word, params[:free_word], {class: 'form-control articles__text', onBlur: 'submit(this.form)'}
- if flash[:notice]
  .alert.alert-danger
    = flash[:notice]
%span.total_count= @articles.total_count
%table.table.table-hover.articles__table
  %thead.thead-dark
    %tr
      %th.col-md-8 title
      %th.col-md-2
      %th.col-md-2
  %tbody
    - @articles.each do |article|
      %tr
        %td.col-md-8
          = article.title
        %td.col-md-2
          = link_to 'detail', article, class: 'btn btn-outline-info'
        %td.col-md-2
          = link_to 'delete', article, class: 'btn btn-outline-dark', method: :delete, data: {confirm: 'delete ok'}
= paginate @articles
