<div class="d-flex align-items-center">
  <h1>DELI Database</h1>
  <div class="ml-auto articles__linkBox">
    <%= form_with url: articles_path, method: :get, class: 'articles__searchForm' do %>
      <%= select_tag :tag_id,
                      options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                      {
                        prompt: 'ジャンルで絞り込む',
                        class: 'form-control articles__select',
                        onchange: 'submit(this.form)'
                      }
       %>
      <%= select_tag :prefecture_id,
                      options_from_collection_for_select(Prefecture.all, :id, :name, params[:prefecture_id]),
                      {
                        prompt: '地域で絞り込む',
                        class: 'form-control articles__select',
                        onchange: 'submit(this.form)'
                      }
       %>
    <% end %>
   <%= link_to '新規投稿', new_article_path, class: 'btn btn-outline-dark' %>
  </div>
</div>

<% if flash[:notice] %>
  <div class="alert alert-danger">
    <%= flash[:notice] %>
  </div>
<% end %>

<%= paginate @articles %>
<table class="table table-hover articles__table">
  <thead class="thead-dark">
    <tr>
      <th class="col-md-8">タイトル</th>
      <th class="col-md-2"></th>
      <th class="col-md-2"></th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
    <tr>
      <td class="col-md-8">
        <%= article.title %>
      </td>
      <td class="col-md-2">
        <%= link_to '詳細', article, class: 'btn btn-outline-info' %>
      </td>
      <td class="col-md-2">
        <%= link_to '削除', article, class: 'btn btn-outline-dark', method: :delete, data: {confirm: '削除してもよろしいでしょうか'} %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @articles %>