.d-flex.align-items-center.mt-4.mb-4
  .ml-auto.boards__linkBox
    = link_to 'TOP', articles_path, class: 'btn btn-outline-dark'
    = link_to 'edit', edit_article_path(@article), class: 'btn btn-outline-dark'
- if flash[:notice]
  .alert.alert-success
    = flash[:notice]
= render @article
= render partial: "comments/form", locals: {comment: @comment}
