%h1 ログイン
= render partial: 'shared/flash_messages'
= form_with scope: :session, url: login_path do |f|
  .form-group
    = f.label :name, 'ユーザ名'
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :password, 'パスワード'
    = f.password_field :password, class: 'form-control'
  = f.submit 'ログイン', class: 'btn btn-primary'
